{% for item in items %}
  <a href="{{ item.content['#url'] }}" class="btn {{'btn--' ~ type}} {{item.content['#url'].isExternal ? 'is-external'}}" {% if item.content['#url'].isExternal %} target="_blank"{% endif %}>{{ item.content['#title'] }}</a>
{% endfor %}
